.master-container {
    margin: 0 auto;
    padding: 2em;
    max-width: 800px;
    background-color: #050505;
    color: aliceblue;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    width: 100%;
}

.product-item {
    width: calc((100% - 2em) / 2);
    height: 10em;
    background-color: aqua;
}
