/* POPUP */
.body-fixed {
    overflow: hidden;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    /* padding-inline: 4em; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;

    visibility: hidden;
    transition: all 1s ease;
}

.popup-container-open {
    opacity: 1;
    visibility: visible;
}

.popup-content {
    position: relative;
    margin-inline: 1em;
    padding: 1em;
    width: 100%;
    max-width: 600px;
    max-height: 100%;

    /* NOTE: "overflow-y" Might Create scroll - remove if not needed  */
    overflow-y: auto;

    background-color: var(--clr-white);
    border-radius: 1.5em;
}

.popup-payment-method {
    /* position: relative;
    margin-inline: 1em;
    padding: 1em;
    width: 100%;
    max-width: 600px;
    max-height: 100%; */

    /* NOTE: "overflow-y" Might Create scroll - remove if not needed  */
    /* overflow-y: auto; */

    display: flex;
    flex-direction: column;
    gap: 1em;

    /* background-color: var(--clr-white);
    border-radius: 1.5em; */
}

.popup-address {
    /* position: relative;
    margin-inline: 1em;
    padding: 1em;
    width: 100%;
    max-width: 600px;
    max-height: 100%; */

    /* NOTE: "overflow-y" Might Create scroll - remove if not needed  */
    /* overflow-y: auto; */

    display: flex;
    flex-direction: column;
    gap: 1em;

    /* background-color: var(--clr-white);
    border-radius: 1.5em; */
}

.popup-welcome-wrapper {
    /* position: relative;
    margin-inline: 1em;
    padding: 1em;
    width: 100%;
    max-width: 600px;
    max-height: 100%; */

    /* NOTE: "overflow-y" Might Create scroll - remove if not needed  */
    /* overflow-y: auto; */

    display: flex;
    flex-direction: column;
    gap: 1em;

    /* background-color: var(--clr-white);
    border-radius: 1.5em; */
}

@media (min-width: 400px) {
    .popup-content {
        margin-inline: 2em;
        padding: 2em;
    }
}

/* @media (min-width: 576px) {
    .popup-payment-method,
    .popup-address {
        margin-inline: 3em;
        padding: 3em;
    }
} */

/* @media (min-width: 768px) {
    .popup-payment-method,
    .popup-address {
        margin-inline: 4em;
        padding: 4em;
    }
} */

/* @media (min-width: 992px) {
} */

.popup-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.popup-item-wrapper label {
    padding-left: 1em;
    border: none;
}
.popup-item-wrapper input {
    padding: 0.5em 1em;
    font-size: 1.25rem;
    border-radius: 0.5em;
    border: 1px solid var(--clr-grey);
}

.update-btn {
    padding: 0.5em 1em;
    font-family: inherit;
    font-size: 1.25rem;
    color: var(--clr-white);
    background-color: var(--clr-black);
    border: 1px solid var(--clr-grey);
    border-radius: 0.5em;
    cursor: pointer;
    /* remove for button (for link only) */
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.update-btn:hover {
    color: var(--clr-black);
    background-color: var(--clr-white);
}
/* END of POPUP*/
